/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 192px;
  height: 192PX;
}

.my-form{
  min-width: 224px;
  max-width: 800px;
  width: 100%;
  margin: 0px 48px;
}
 
.full-width {
  width: 100%;
}

.container {
  display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}

