<img mat-card-image src="../assets/img/logo.png" alt="Photo of a Shiba Inu">
<br>
<mat-toolbar-row>
    <span class="spacer"></span>
    <span><h2>Rejestracja</h2></span>
    <span class="spacer"></span>
  </mat-toolbar-row>
<br>
<mat-card-content>
    <mat-form-field>
        <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Hasło">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Potwierdź hasło">
    </mat-form-field>


</mat-card-content>

<button mat-flat-button color="primary">Zarejestruj</button>